PORT="3000"
MONGO_URI="mongodb+srv://abulbasharkhanrakib:uLgdX4OhOYncQlzX@rentalcluster.womy6ti.mongodb.net/"
JWT_SECRET="H1xy#at@45&df!"
PAYPAL_CLIENT_ID="57JCBP9485CZ4"
STRIPE_API_KEY="sk_test_51MU0GyAhS57thzflUa0jS8XbgeZyJcF03rUA1o0pfPwgXofiXNPGKfzBd58rtpB6iPuTCBrZ5g3zWnAtwBa25VyN00PPBjSFOM"
